<h3> Confirmar reserva de residencia </h3>

<%= form_for @reserve do |r| %>
	<div class="form-group">
		<%= r.label :user_id, 'Usuario' %>
		<%= r.select :user_id, [[current_user.name, current_user.id]] %>
	</div>

	<div class="form-group">
		<%= r.label :residence_id, 'Residencia' %>
		<%= r.select :residence_id, [[@residence.name, @residence.id]] %>
	</div>

	<% a = [] %>
	<% i = 0; %>
	<% Residence.find(@residence.id).reserves.each do |reserve| %>
		<% a[i] = reserve.date %>
		<% i = i + 1 %>
	<% end %>
	<div class="form-group">
		<%= week_field("reserve", "date", options = { min: Date.today + 180, max: Date.today + 250 } ) %>
	</div>

	<%= r.submit 'Confirmar', class: 'btn btn-primary' %>
	<%= link_to 'Volver', residencesPremium_path, class: 'btn btn-default' %>

<% end %>
