<h1> <span class="badge badge-light"> Confirmar reserva de residencia </span> </h1>

<%= form_for @reserve do |r| %>
	
	<h3> <span class="badge badge-light"> Usuario: <%= current_user.name %> </span> </h3>

	<div class="form-group invisible">
		<%= r.select :residence_id, [[@residence.name, @residence.id]] %>
	</div>

	<h3> <span class="badge badge-light"> Residencia: <%= @residence.name %> </span> </h3>

	<div class="form-group invisible">
		<%= r.select :user_id, [[current_user.name, current_user.id]] %>
	</div>
	
	<div class="form-group">
		<%= week_field("reserve", "date", options = { min: Date.today + 180, max: Date.today + 250 } ) %>
	</div>

	<%= r.submit 'Confirmar', class: 'btn btn-primary', data: { confirm: "¿Realmente querés adjudicarte la residencia #{@residence.name} ?"} %></td>
	<%= link_to 'Volver', residencesPremium_path, class: 'btn btn-secondary' %>

<% end %>
