<h3> Confirmar reserva de residencia </h3>

<%= form_for @reserve do |r| %>
	<div class="form-group">
    	<%= r.label :user_id, 'Usuario' %>
    	<%= r.text_field :user_id, class: 'form-control', placeholder: current_user.email, data:{autocomplete_source: current_user.id}, required: true, disabled: true %>
	</div>

	<div class="form-group">
    	<%= r.label :residence_id, 'Residencia' %>
    	<%= r.text_field :residence_id, class: 'form-control', placeholder: @residence.name, data:{autocomplete_source: @residence.id}, required: true, disabled: true %>
	</div>

	<%= r.submit 'Confirmar', class: 'btn btn-primary' %>
	<%= link_to 'Volver', residencesPremium_path, class: 'btn btn-default' %>
<% end %>
