<h1> <div class="p-3 mb-2 bg-primary text-white".bg-standard> Confirmar reserva de residencia </div> </h1>

<%= form_for @reserve do |r| %>
	
	<h3> <div class="p-3 mb-2 bg-secondary text-white".bg-secondary> Usuario: <%= current_user.name %> </div> </h3>

	<div class="form-group invisible">
		<%= r.select :residence_id, [[@residence.name, @residence.id]] %>
	</div>

	<h3> <div class="p-3 mb-2 bg-secondary text-white".bg-secondary> Residencia: <%= @residence.name %> </div> </h3>

	<div class="form-group invisible">
		<%= r.select :user_id, [[current_user.name, current_user.id]] %>
	</div>
	
	<div class="p-3 mb-2 bg-secondary text-white".bg-secondary>
		<%= week_field("reserve", "date", options = { min: Date.today + 180, max: Date.today + 250 } ) %>
	</div>

	<%= r.submit 'Confirmar', class: 'btn btn-primary', data: { confirm: "¿Realmente querés adjudicarte la residencia #{@residence.name} ?"} %></td>
	<%= link_to 'Volver', residencesPremium_path, class: 'btn btn-secondary' %>

<% end %>
