<% if  @auctions.size == 0 %>
    <h3> No hay subastas para mostrar </h3>
    <td><%=link_to 'Volver', root_path, class: 'btn btn-secondary btn-sm' %></td>
<% else %>
<body>
	<table class="table table-striped table-dark">
  	<thead>
        <tr>
            <th scope="col">Nombre de la residencia</th>
            <th scope="col">Fecha a subastar</th>
            <th scope="col">Fecha de inicio de la subasta</th>
            <th scope="col">Precio</th>
            <th scope="col"><span class="oi oi-eye"></span></th>
		</tr>
  	</thead>
  	<tbody>
      <% if current_user.admin == true %>
		<% @auctions.each do |auction| %>
            <tr>
            <td><%= Residence.find(auction.residence_id).name %> </td>
            <td><%= auction.date.to_date %></td>
            <td><%= auction.startDate %></td>
            <% if auction.actualPrice != nil %></td>
                <td><%= auction.actualPrice%></td>
            <% else %>
                <td><%= auction.initPrice%></td>
            <% end %>
            <td><%=link_to 'Ver', auction, method: :get, class: 'btn btn-info btn-sm' %></td>
            </tr>
        <% end %>
        <% else %>
            <% @auctions.each do |auction| %>
            <tr>
            <td><%= Residence.find(Auction.find(auction.auction_id).residence_id).name %> </td>
            <td><%= Auction.find(auction.auction_id).date.to_date %></td>
            <td><%= Auction.find(auction.auction_id).startDate %></td>
            <% if Auction.find(auction.auction_id).actualPrice != nil %></td>
                <td><%= Auction.find(auction.auction_id).actualPrice%></td>
            <% else %>
                <td><%= Auction.find(auction.auction_id).initPrice%></td>
            <% end %>
            <td><%=link_to 'Ver', auction_path(id: auction.auction_id), class: 'btn btn-info btn-sm' %></td>
            </tr>
        <% end %>
        <% end %>
  	</tbody>
	</table>
 	<td><%=link_to 'Volver', root_path, class: 'btn btn-secondary btn-sm' %></td>
</body>
<% end %>
