<%- if current_user.admin != true %>
<body>
 
<div class="container-fluid">
  <h1> </h1>
  <div class="card" style=" width:700px; background:#346C81">
    <%- if current_user.image == nil %>+
    <img class="card-img-top" src="http://universoguia.com/wp-content/uploads/2009/11/msn.png" alt="Card image" style="width:100%">
    <%-else  %>
      <img class="card-img-top" src="<%= @current_user.image%>" alt="Card image" style="width:100%">
     <% end %>   
    <div class="card-body">
      <h1 class="card-title"><%= @user.name %> <%= @user.surname %> </h1>
      <p class="card-text"><h3> Email:  <%= @user.email %> </h3></p>
      <p class="card-text"><h3> Fecha de nacimiento :  <%= @user.birth %> </h3></p>
      <p class="card-text"><h3> Tarjeta de Credito:  <%= @user.card %> </h3></p>
      <p class="card-text"><h3> codigo de seguridad :  <%= @user.cvv %> </h3></p>
      <p class="card-text"><h3> Fecha de vencimiento :  <%= @user.expiration %> </h3></p>
      <p class="card-text"><h3> Creditos:  <%= @user.credits %> </h3></p> 
				<%-if @user.premium == true %>
					 <p class="card-text"><h3> Categoria:  Premium  </h3></p>
				<%-else  %>
				<p class="card-text"><h3> Categoria:  Normal  </h3></p>
				<% end %>	

			</aside>
			<%- if current_user.premium != true %>
					<td><%=link_to 'Quiero ser premium!', wantPremium_path, class: 'btn btn-warning btn-sm', data: { confirm: "¿Estás seguro que quieres solicitar ser premium?"} %></td>
			 <% end %>  
       <td><%=link_to 'Volver', root_path, class: 'btn btn-secondary btn-sm' %></td>
  </div>
  </div>
  <br>
 
</div>
<%-else  %>
<div class="container-fluid">
  <h1> </h1>
  <div class="card" style=" width:700px; background:#346C81">
    <%- if current_user.image == nil %>+
    <img class="card-img-top" src="http://universoguia.com/wp-content/uploads/2009/11/msn.png" alt="Card image" style="width:100%">
    <%-else  %>
      <img class="card-img-top" src="<%= @current_user.image%>" alt="Card image" style="width:100%">
     <% end %>   
    <div class="card-body">
      <h1 class="card-title"><%= @user.name %> <%= @user.surname %> </h1>
      <p class="card-text"><h3> Email:  <%= @user.email %> </h3></p>
      <p class="card-text"><h3> Fecha de nacimiento :  <%= @user.birth %> </h3></p>

     
       <td><%=link_to 'Volver', root_path, class: 'btn btn-secondary btn-sm' %></td>
  </div>
  </div>
  <br>
 
</div>
<% end %>
</body>
