
<body>
 
<div class="container-fluid">
  <h1> </h1>
  <div class="card" style=" width:700px; background:#346C81">
    <img class="card-img-top" src="http://universoguia.com/wp-content/uploads/2009/11/msn.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h1 class="card-title"><%= @user.name %></h1>
      <p class="card-text"><h3> Email:  <%= @user.email %> </h3></p>
      <p class="card-text"><h3> Fecha de nacimiento :  <%= @user.birth %> </h3></p>
      <p class="card-text"><h3> Tarjeta de Credito:  <%= @user.card %> </h3></p>
      <p class="card-text"><h3> codigo de seguridad :  <%= @user.cvv %> </h3></p>
      <p class="card-text"><h3> Fecha de vencimiento :  <%= @user.expiration %> </h3></p>
    <p class="card-text"><h3> Categoria:  </h3></p>
				<%-if @user.premium == true %>
					<p class="card-text"><h3> Premium  </h3></p>
				<%-else  %>
					<p class="card-text"><h3> Normal  </h3></p>
				<% end %>	

			</aside>
			<%- if current_user.premium != true %>
					<td><%=link_to 'Quiero ser premium!', wantPremium_path, class: 'btn btn-warning btn-sm', data: { confirm: "¿Estás seguro que quieres solicitar ser premium?"} %></td>
			 <% end %>  
       <td><%=link_to 'Volver', root_path, class: 'btn btn-secondary btn-sm' %></td>
  </div>
  </div>
  <br>
 
</div>

</body>