<h1> Bienvenido a Home Switch Home </h1>
<ul>
  <% if current_user.try(:admin?) %>
      <li> <%= link_to "Ver listado de residencias", residences_path,  {:style=>"color:black"} %></li>
      <li> <%= link_to "Ver listado de usuarios", users_path,  {:style=>"color:black"} %></li>
      <li> <%= link_to "Ver listado de Administradores", indexAdmin_path,  {:style=>"color:black"} %></li>
      <li> <%= link_to "Establecer subasta", new_auction_path,  {:style=>"color:black"} %></li>
  <%-else  %>
            <li> <%= link_to "Ver listado de residencias", residences_path,  {:style=>"color:black"} %></li>

         
  <% end %>
</ul>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<footer>
  <ul>
     <li> <%= link_to "Terminos y condiciones   ", terms_path,  {:style=>"color:black"} %> </li>
      <li> <%= link_to "    Informacion", information_path,  {:style=>"color:black"} %></li>
  </ul>

</footer>
</html>
