<h3> Inscripcion a subasta </h3>

<%= form_for @inscription do |r| %>
	<div class="form-group invisible">
		<%= r.label :user_id, 'Usuario' %>
		<%= r.select :user_id, [[current_user.name, current_user.id]] %>
	</div>

	<div class="form-group">
		<%= r.label :auction_id, 'Fecha de la subasta' %>
		<%= r.collection_select :auction_id, Residence.find(@residence.id).auctions, :id, :date, {}, class: 'form-control' %>
	</div>

	<%= r.submit 'Confirmar', class: 'btn btn-primary' %>
	<%= link_to 'Volver', residences_path, class: 'btn btn-secondary' %>

<% end %>
