<h2>Residencias</h2>

<table class="table">
	<thead>
		<tr>
			<th width="80%"> Nombre de la residencia </th>
			<th width="20%"> Descripcion </th>
			<th colspan="2"></th>
		</tr>
	</thead>

<tbody>
	<% @residences.each do |residence| %>
	<tr>
		<td><%=residence.name %> </td>
		<td><%=residence.description %></td>
		<td><%=link_to 'Ver', residence, method: :get, class: 'btn btn-info btn-sm' %></td>
		<%- if current_user.try(:admin?) %>
				<td><%=link_to 'Editar',edit_residence_path(residence), class: 'btn btn-info btn-sm' %></td>
				<td><%=link_to 'Eliminar', residence, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: '¿Realmente querés eliminar la residencia?'} %></td> 
		<%-else  %>
       			<%- if current_user.try(:premium?) %>
       					<td><%=link_to 'Adjudicar', :controller => 'reserves', :action => 'new', :id => residence.id, class: 'btn btn-info btn-sm' %></td> 
       			<%-else  %>
       					<% if current_user != nil %>
       						<td><%=link_to 'Ver subasta', auction_path(residence.id), class: 'btn btn-info btn-sm' %></td> 
       					<% end %>  
       			<% end %>     
 		 <% end %>		
	</tr>

	<% end %>
</tbody>
</table>
<% if current_user.try(:admin?) %>
			<%= link_to 'Nueva residencia', new_residence_path, class: 'btn btn-primary' %>
	<% end %>
<%= link_to 'Volver', root_path, class: 'btn btn-default' %>


</html>