<table class="table">
	<thead>
		<tr>
			<th>NOMBRE</th>
			<th>DESCRIPCION</th>
		</tr>
	</thead>
	<tbody>
		<% @residences.each do |r| %>
			<tr>
				<td><%= r.name %></td>
				<td><%= r.description %></td>
				<td><%=link_to 'editar', edit_residence_path(r)%></td>
				<td><%=link_to 'eliminar', r, method: :delete%></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Nueva residencia', new_residence_path %>