<h2>Residencias</h2>

<table class="table">
	<thead>
		<tr>
			<th width="80%"> Nombre de la residencia </th>
			<th width="20%"> Descripcion </th>
			<th colspan="2"></th>
		</tr>
	</thead>

<tbody>
	<% @residences.each do |residence| %>
	<tr>
		<td><%=residence.name %> </td>
		<td><%=residence.description %></td>
		<td><%=link_to 'Ver', residence, method: :get, class: 'btn btn-info btn-sm' %></td>
		<td><%=link_to 'Adjudicar', :controller => 'reserves', :action => 'new', :id => residence.id, class: 'btn btn-info btn-sm' %></td> 
	</tr>
	<% end %>
</tbody>
</table>
<%= link_to 'Volver', root_path, class: 'btn btn-default' %>
<br>