<div class="container, p-3 mb-2 bg-primary text-white".bg-primary>
  <h1> <%= @residence.name %> </h1>

</div>

<div class="p-3 mb-2 bg-secondary text-white".bg-secondary>
	<h3> <%= @residence.description %> </h3>
</div>

<div class="p-3 mb-2 bg-secondary text-white".bg-secondary>
	<h3> <%= @residence.price%> </h3>
</div>

<div class="p-3 mb-2 bg-secondary text-white".bg-secondary>
	<h3> <%= @residence.location %> </h3>
</div>

<body style="background-color:#5C9CBD;">
</body>

<%= link_to 'Volver', root_path, class: 'btn btn-default' %>
