<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container fluid">
        <div class="navbar-header ">
          <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag "HSH-Logo.png", title: "Logo", class: "logo" %>
          <% end %>
        </div>

        <div class="collapse navbar-collapse">
        </div><!--/.nav-collapse -->
      
        <ul class="nav justify-content-end">
          <%- if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Iniciar sesion', new_user_session_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Registrarme', new_user_registration_path %>
            </li>
          <% end %>
        </ul>

      </div>

    </div>
  </header>

