


<div class="container-fluid">
  <div class="row"> 
    <div class="col-3">  </div>
      <div class="col-5 w-50 navbar-header ">
          <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag "HSH-Logo.png", title: "Logo", class: "logo" %>
          <% end %>
        </div> 
     
          <%- if user_signed_in? %>
           <div class="col-1"> 
            <li class="nav-item">
              <%= link_to 'Ver perfil' , showUser_path %> 
            </li> </div>
            <div class="col-1"> 
            <li class="nav-item">
              <%= link_to 'Editar usuario', edit_user_registration_path %>
            </li> </div>
              <div class="col-1"> 
            <li class="nav-item">
              <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %>
            </li> </div>
          <% else %>
          <div class="col-1">
            <li class="nav-item">
              <%= link_to 'Iniciar sesion', new_user_session_path %>
            </li> </div>
             <div class="col-1"> 
              <%= link_to 'Registrarme', new_user_registration_path %>
             </div>
             <% end %>   </div>

  </div>
      
</div>