<!DOCTYPE html>
<html>
<head>

  <title> HomeSwitchHome </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" integrity="sha256-CNwnGWPO03a1kOlAsGaH5g8P3dFaqFqqGFV/1nkX5OU=" crossorigin="anonymous" />
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#346C81;">
</body>
<%= render 'layouts/header' %>

<div class="container"> 
  
  <% if flash[:notice] %>
    <div class="alert alert-info"> <%= flash[:notice] %> </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-info"> <%= flash[:alert] %> </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>

